<a href="https://colab.research.google.com/github/Ps-PrithviShah/python-crash-course/blob/master/ASSIGNMENT1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
Fruits = ['apple','banana','kiwi','cheeries','grapes',0.3,1.1,1.1,1,0.6]
print(Fruits)
print(len(Fruits))
print (Fruits[0:5])

['apple', 'banana', 'kiwi', 'cheeries', 'grapes', 0.3, 1.1, 1.1, 1, 0.6]
10
['apple', 'banana', 'kiwi', 'cheeries', 'grapes']

In [ ]:
a=53
b=34
c=423
sum=a+b+c
print(sum)

510

In [ ]:
set1={1,2,3,4,5,6,7,8,9,10}
print(set1)
print(set1)
print(set1)
print(set1)
print(set1)
print(set1)
print(set1)
print(set1)
print(set1)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [10]:
stundents=['roy','rohan','ronak','monish','yash']
print(stundents.count('roy'))
print (len(stundents))	
print (stundents.index('ronak'))

1
5
2