<a href="https://colab.research.google.com/github/Ps-PrithviShah/python-crash-course/blob/master/ASSIGNMENT1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
fruits = ['apple','banana','kiwi','cheeries','grapes']
protein = ['0.3', '1.1', '1.1', '1.1', '0.6']
print(fruits[0] +"="+ protein[0])
print(fruits[1] +"="+ protein[1])
print(fruits[2] +"="+ protein[2])
print(fruits[3] +"="+ protein[3])
print(fruits[4] +"="+ protein[4])

apple=0.3
banana=1.1
kiwi=1.1
cheeries=1.1
grapes=0.6

In [ ]:
a=53
b=34
c=423
sum=a+b+c
print(sum)

510

In [ ]:
set1={1,2,3,4,5,6,7,8,9,10}
print(set1)
print(set1)
print(set1)
print(set1)
print(set1)
print(set1)
print(set1)
print(set1)
print(set1)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [35]:
students=['roy','rohan','ronak','monish','yash']
print(students.count('roy'))
print (len(students))	
print (students.index('ronak'))

1
5
2