<a href="https://colab.research.google.com/github/Ps-PrithviShah/python-crash-course/blob/master/FinalfinalprojectESD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
names = pd.Series(['Ishan','Siddhant','Parth','Kartik','Prithvi','Imtiyaz'])
eid= pd.Series([11001,11002,11003,11004,11005,11006])
leaves = pd.Series([15,15,15,15,15,15])
bal = pd.Series([13,8,11,0,12,4])
final=pd.DataFrame({ ' Names of Employees': names,'Employee ID':eid, 'Leaves given/year': leaves, 'Leave Ballance': bal })

print("      ABSENCE REQUEST FORM")
name =input("Enter name of employee:")
id = int(input("Employee ID:"))
for i in range(6):
 if id==eid[i]:
   t=1
   break
 else:
   t=0  
if t==0:
 print("invalid Employee ID")
else:
 address = input("Address: ")
 dep = input ("Department : ")
 no = int(input("Phone No : "))
 email = input("E-mail I'd : ")
 abs = input("Reason of absence: ")
 
 print("This year Leave balance: ",bal[i])
 print("Date of absence - ")
 input("    From : ")
 input("    To : ")
 adays = int(input("Total absence days: "))
 if (bal[i]>=adays):
  a = bal[i]
  print("Your leave is recorded: ")
  
 else:
  print("       Sorry, you can't take a leave ")
  print("If urgent, Call the supervisor :")

 if (bal[i]>=adays):
  x= bal[i]-adays
  final.iat[i,3]=x
final

      ABSENCE REQUEST FORM
Enter name of employee:Prithvi shah
Employee ID:11005
Address: kandivali
Department : Mech
Phone No : 9865321245
E-mail I'd : hfygd@gmail.com
Reason of absence: vacation
This year Leave balance:  12
Date of absence -
    From : 10/08/20
    To : 12/08/20
Total absence days: 3
Your leave is recorded:

   Names of Employees  Employee ID  Leaves given/year  Leave Ballance
0               Ishan        11001                 15              13
1            Siddhant        11002                 15               8
2               Parth        11003                 15              11
3              Kartik        11004                 15               0
4             Prithvi        11005                 15               9
5             Imtiyaz        11006                 15               4